<section class="hero full-width-hero" style="background-image: url('{{ site.theme.link }}/templates/images/backgrounds/teal-angle.svg')">
<div class="content">
  <h1>{{module.hero_headline}}</h1>
  <h4>{{module.hero_subheadline}}</h4>
  <div class="btn-row">
    <a href="{{module.hero_primary_button_link}}" class="btn-white btn-med">{{module.hero_primary_button}}</a>
    <a href="{{module.hero_secondary_button_link}}" class="btn-white-underline">{{module.hero_secondary_button}}</a>
  </div>
</div>
</section>