 <section class="fundraiser">

    <div class="content">
      <hr />
      <h2>{{module.title}}</h2>
      <div class="columns">
        <div class="column">
          <p>{{module.description}}</p>
        </div>
        <div class="column">
          <div id="goal">${{module.goal}}</div>
          <div id="glass">
            <div id="progress" style="width: {{module.funded}}%;">
            </div>
          </div>
          <div class="goal-stat">
            <span class="goal-number">{{module.funded}}%</span>
            <span class="goal-label">Funded</span>
          </div>
          <div class="goal-stat">
            <span class="goal-number">${{module.raised}}</span>
            <span class="goal-label">Raised</span>
          </div>
          <div class="goal-stat">
            <span class="goal-number">{{module.days}}</span>
            <span class="goal-label">Days to Go</span>
          </div>
        </div>
      </div>
    </div>
  </section>