<section class="text-with-image-card">
  <div class="content">
    <div class="image" style="background-image: url('{{ TimberImage(module.card_image).src }}')">
    </div>
    <div class="text">
      <h3>{{module.title}}</h3>
      <h5>{{module.description}}</h5>
      <h5><a href="{{module.link}}">{{module.link_text}}</a></h5>
    </div>
  </div>
</section>