 <section class="fundraiser">

    <div class="content">
      <hr />
      <h2>{{module.title}}</h2>
      <div class="columns">
        <div class="column">
          <p>{{module.description}}</p>
        </div>
        <div class="column">
          <div id="goal">${{module.goal}}</div>
          <div id="glass">
            <div id="progress" style="width: {{ (module.raised / module.goal) * 100 }}%;">
            </div>
          </div>
          <div class="goal-stat">
            <span class="goal-number">{{ ((module.raised / module.goal) * 100) | round(0, 'floor') }}%</span>
            <span class="goal-label">Funded</span>
          </div>
          <div class="goal-stat">
            <span class="goal-number">${{module.raised}}</span>
            <span class="goal-label">Raised</span>
          </div>
          <div class="goal-stat">
            <span class="goal-number">
              {# endDate and startDate are strings or DateTime objects #}
                {% set difference = date(module.enddate).diff(date(module.startdate)) %}
                {% set leftDays = difference.days %}
                {% if leftDays == 1 %}
                  1 day
                {% else %}
                  {{ leftDays }} days
                {% endif %}
            </span>
            <span class="goal-label">Days to Go</span>
          </div>
        </div>
      </div>
    </div>
  </section>